
/** RESET CLASSES FROM YUI **/

html{outline:none;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

/** BODY ELEMENT **/

body { background:#f6f6f6 url(/theme/default/images/template/header.png) repeat-x; color:#4E4E4E; font:1em Arial,Helvetica,sans-serif; }
p    { font-size:80%; line-height:1.3em; }
input, select, textarea { color:#6F6F6F; font-size:90%; padding:1px; }
strong { font-weight:bold; }

/* ACTION BUTTONS */

a#freeQuote { background: #1D1D1D url(/theme/default/images/template/freeQuote.png) no-repeat; }
a#freeQuote { height: 57px; width: 230px; float: right; text-indent: -999em; margin: 3px 32px 0 auto; outline: none; }

/** CONTAINERS **/

#wrap       { width:900px; margin:0 auto; position:relative; }
#head       { height:250px; position:relative; }
#content    { width:580px; float:left; }
#content p  { margin-bottom:10px; }
#content li { margin-bottom:10px; }
#sideColumn { width:290px; float:left; margin-left:30px; }
#footer     { background:#111 url(/theme/default/images/template/footer.png) repeat-x; padding:80px 0 10px; }
#tagLine    { width:600px; }

/** COLUMNS **/

.colLeft  { width:450px; float:left; margin:0 20px 0 0; }
.colRight { width:360px; float:left; margin:0; }
.row      { clear:both; display:block; margin:0 19px; z-index:3; position:relative; min-height:1px; }

/** NAVIGATION TOP MENU **/

#topMenu { font-size:85%; float:right; margin:15px 0 10px; }
#topMenu dt { display:inline; }
#topMenu dt a:link, #topMenu dt a:visited { text-decoration:none; color:#fff; padding:0 10px; border-right:1px solid #DCDCDC; }
#topMenu dt a:hover { text-decoration:underline; color:#1a477e; }
#topMenu dt a.noPadding { padding-right:0; }
.noBorder { border:none !important; }

/** NAVIGATION TABS **/

#head ul   { position:absolute; right:0; top:170px; font-weight:700; font-size:110%; }
#head li   { font-size:80%; display:inline; margin:0; }
#head li a { background:url(/theme/default/images/tabs/tabLeft.png) no-repeat; float:left; padding:0 0 0 4px; text-decoration:none; }
#head li a span { display:block; padding:6px 15px 3px 8px; background:url(/theme/default/images/tabs/tabRight.png) no-repeat 100% 0; color:#FFF; }
#head li a:hover, #head .active a { background-position:0 -42px; }
#head li a:hover span, #head .active a span { background-position:100% -42px; }

/** HEADER ELEMENTS **/

h1 { font-weight:700; font-size:165%; }
h2 { font-weight:700; font-size:89%; padding:5px 0 10px; }
h3 { font-size:125%; color:#3289C6; margin:10px 0; }
h4 { font-size:90%; margin:5px 0; }

/* LINKS */

a       { color:#3289C6; text-decoration:underline; }
a:hover { color:#d79c2b; }

/** SOCIAL ELEMENTS **/

.socialElements { position:relative; border-bottom:1px solid #DCDCDC; height:25px; margin:5px 0 10px; padding:0 0 5px; width:290px; }
.facebookLike   { display:inline-block; float:left; }
.twitterLike    { display:inline-block; width:100px; }
.buzzLike       { display:inline-block; float:right; }
.addThis        { margin-left:90px; }

/** COMMON CLASSES **/

.clear          { clear:both; }
.floatLeft      { float:left; }
.floatRight     { float:right; }
.noBorder       { border:none; }
.triangleBlue   { color:#1a477e; }
.triangleOrange { color:#d79c2b; }
.textRed        { color:red; }
.colorRed       { color:red; }
.alignLeft      { text-align:left; }
.alignRight     { text-align:right; }
.hidden         { display:none; }
.dividerLine    { height:2px; border-bottom:1px solid #DCDCDC; }

/** IMAGES **/

img.image             { border:2px solid #bbb; }
img.image.no-border   { border:none; }
img.image.middle      { vertical-align:bottom; }
img.image.floatRight  { margin:5px 0 5px 15px; }
img.image.floatLeft   { margin:5px 15px 5px 0; }
a img.image           { border:2px solid #568EB6; }
a:hover img.image     { border:2px solid #CCC !important; /* IE fix*/ border:2px solid #568EB6; }

/** SNAPSHOT **/

.snapshot                { background-color:#eee; border:2px solid #bbb; width:100%; }
.snapshot .snapshotInner { height:75px; }
.snapshot .caption       { background-color:#ddd; border-top:1px solid #aaa; font-size:65%; padding:5px; }

/** FORM **/

.zend_form    { width: 100%; margin: 5px auto; padding: 0; overflow: auto; font-size: 80%;}
.zend_form fieldset { border:2px solid #ccc; padding:15px; }
.zend_form dt { padding: 0; clear: both; width: 100px; float: left; text-align: right; margin: 8px 5px 5px 0; }
.zend_form dd { padding: 0; float: left; margin: 5px 2px 5px 0; }
.zend_form p  { padding: 0; margin: 0; }
.zend_form input, .zend_form textarea { border: 1px solid #ddd; background: #fafafa; font: bold 0.95em arial, sans-serif; margin: 1px; padding: 3px; }
.zend_form input:hover, .zend_form input:focus, .zend_form textarea:hover, .zend_form textarea:focus { border-color: #c5c5c5; background: #f6f6f6; }
.zend_form .submit       { float: right; cursor: pointer; background-color: #1a477e; color: #d79c2b; }
.zend_form .submit:hover { background-color: #d79c2b; color: #1a477e; }
.zend_form .required:before {content:'* '}
.zend_form .optional:before {content:'+ '}

/** LOGIN FORM **/

#login { margin:3em auto; width:320px; position:relative;}
#loginForm { background-color:#fff; border:1px solid #E5E5E5; border-radius:5px; box-shadow:0 4px 18px #C8C8C8; margin-left:8px; padding:16px 16px 25px; }
label { color:#777; font-size:115%; }
#loginForm input[type="text"], #loginForm input[type="password"] { background-color:#eee; border:1px solid #ddd; font-size:180%; margin:2px 6px 16px 0; padding:3px; width:97%; }
input { color: #555555; }
form .rememberMe { float:left; font-weight:normal; }
form .rememberMeLabel { font-size:90%; line-height:19px; padding-left:5px; bottom:2px; position:relative; }
form .submit, .alignright { float:right; }
.submit { border-color:#DFDFDF; }
input.button-primary, button.button-primary, a.button-primary { background:url(/images/admin/button-grad.png) repeat-x scroll left top #21759B; border-color:#298CBA; color:#FFF; font-weight:bold; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3); float:right; }
.lostPassword { margin:0 0 0 8px; padding:16px; font-size:90%; }
form ul.errors { box-shadow:0 0 20px #C8C8C8; border-radius:5px; background-color:#FBE1E3; border:1px solid #CC0000; margin-bottom:10px; padding:10px; }
form ul.errors li { padding:0; color:#666; padding:5px 0 5px; font-size:90%; }

/** ERROR BOX **/

.errorBox { color:#FFF; font-size:100%; line-height:13px; background:url(/images/admin/error_box.gif) no-repeat 100% 100%; padding:0 0 7px; position:absolute; }
.errorBox .errorBoxSleeve { background:url(/images/admin/error_box_sleeve.gif) no-repeat 100% 0; width:106px; padding:9px 9px 5px 24px; min-height:26px; }

/** BUTTONS **/

.button-primary { border:1px solid; border-radius:11px 11px 11px 11px; cursor:pointer; font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; margin-top:-3px; padding:3px 10px; text-decoration:none; }

/** GRID ICONS **/

.icon-add          { background-image:url(/images/icons/famfam_v13/add.png) !important; }
.icon-grid         { background-image:url(/images/icons/famfam_v13/table.png) !important; }
.icon-tableRefresh { background-image:url(/images/icons/famfam_v13/table_refresh.png) !important; }
.icon-exportCSV    { background-image:url(/images/icons/famfam_v13/page_white_text.png) !important; }
.icon-report       { background-image:url(/images/icons/famfam_v13/report.png) !important; }

/** ACTION BUTTONS **/

a#purchaseNow { background:#1D1D1D url(/theme/default/images/template/purchaseNow.png) no-repeat; }
a#joinNow     { background:#1D1D1D url(/theme/default/images/template/joinNow.png) no-repeat; }
a#registerNow { background:#1D1D1D url(/theme/default/images/template/registerNow.png) no-repeat; }
a#joinNow, a#purchaseNow, a#registerNow { height:57px; width:230px; float:right; text-indent:-999em; margin:3px 32px 0 auto; }

/** LIST **/

.listSize    { font-size:80%; }
li           { list-style:disc outside; margin-left:15px; }
li p, ul p, ol p { font-size:100%; }
.fList ul    { margin:1em; font-size:80%; }
.fList ul    { margin-left:2em; }
.fList ul li { list-style:disc outside; }

/** FEATURE LIST **/

.featuresList       { display:inline; color:#646464; }
.featuresList ul li { list-style:none; margin:0 0 12px; padding:5px 0 20px 55px; border-bottom:1px solid #DCDCDC; }
.featuresList li    { font-size:80%; }
.featureTwitter     { background:url(/theme/default/images/icons/twitter_48.png) no-repeat left 7px; }
.featureFacebook    { background:url(/theme/default/images/icons/facebook_48.png) no-repeat left 7px; }

/** FAQ PAGE **/

#faqListCats { width:216px; margin-right:25px; padding:8px 15px; float:left; background-color:#FFF; border:1px solid #C1C1C1; }
#faqMain h2.catHeader { margin:0 0 10px; padding:0 15px; height:30px; line-height:30px; background:#DFDFDF url(/theme/default/images/template/faqHeader.png) 0 0 no-repeat; font-size:18px; color:#4E4E4E; }
#faqMain h2.catHeader a { float:right; font-size:11px; cursor:pointer; }
#faqListCats h3 { margin:0 0 10px; color:#CB3C00; }
.catList li a { text-decoration:none; cursor:pointer; display:block; padding:7px 0; }
.catList li a:hover { background-color:#EBF3FA; }
.catList li { display:block; border-top:1px dashed #C1C1C1; }
#faqMain { float:left; width:625px; }
#faqMain ul { padding:0 15px; }
.faqTitle { font-weight:700; color:#CB3C00; font-size:14px; }
li.faq div { margin:5px 0 15px; text-align:justify; }
.catDesc { font-weight:700; padding:0 15px 10px; }

/** GOOGLE SEARCH **/

#googleSearch { font-size:80%; position:absolute; bottom:25px; right:0; }

/** FOOTER **/

#footer         { clear:both; }
#footerInner    { width:900px; margin:0 auto; padding:20px; color:#D8D8D8; position:relative; }
#footerTitle    { position:absolute; top:-15px; left:10px; }
#footer ul      { overflow:auto; }
#footer li      { font-size:80%; margin:0 25px 0 0; padding:0 10px; width:255px; float:left; background:url(/theme/default/images/template/testimonialQuote.png) no-repeat; text-indent:18px; text-align:justify; list-style:none; }
#footer li span { display:block; text-align:right; font-style:italic; color:#8E8E8E; }

/** COPYRIGHT **/

#copyrightTitle   { color:#BFBFBF; margin:5px 0 10px; font-size:80%; }
#copyrightInfo    { background-color:#2A2A2A; border-top:1px solid #3B3B3B; padding:20px 0 30px; }
#copyrightInner   { width:900px; margin:0 auto; }
#copyrightLink    { float:right; text-align:right; }
#copyrightList li { font-size:80%; display:inline; border-right:1px solid #DCDCDC; padding:0 10px; margin:0; }

/* USER MESSAGES */

.message    { border:2px solid #97BAD3; background:#EDF5FA url(/images/icons/aesthetica2/help_48.png) 20px no-repeat; color:#3289C6; padding:20px 24px 20px 80px; font-size:80%; }
.msgError   { border:2px solid #C51616; background:#FFE4E4 url(/images/icons/aesthetica2/remove_48.png) 20px no-repeat; color:#C51616; }
.msgWarning { border:2px solid #D6C565; background:#FFFBE4 url(/images/icons/aesthetica2/warning_48.png) 20px no-repeat; color:#C7A223; }
.msgSuccess { border:2px solid #529E29; background:#E1F9D4 url(/images/icons/aesthetica2/tick_48.png) 20px no-repeat; color:#529E29; }
.msgInfo    { border:2px solid #97BAD3; background:#EDF5FA url(/images/icons/aesthetica2/info_48.png) 20px no-repeat; color:#3289C6; }

/* PORTFOLIO */

#portfolio        { border:10px solid #162D31; width:560px; }
#portfolioGrid    { overflow:hidden; margin-bottom:7px; }
#portfolioGrid li { border:1px solid #aaa; list-style:none outside none; margin:7px 0 0 7px; display:inline; float:left; height:184px; overflow:hidden; width:267px; }
.portfolioToolTip { border:2px solid #1A477E; display:none; background-color:#000; color: #FFF; padding:20px; width:227px; height:144px; font-size:14px; line-height:21px; z-index:200; }
.portfolioToolTip .portfolioToolTipTitle { font-weight:bold; font-size:130%; margin-bottom:5px; color:#D5921F; }
.portfolioToolTip .portfolioToolTipLink  { position:absolute; bottom:10px; right:10px; }

/* OVERLAY */

#siteOverlay { position:absolute; top:0; left:0; z-index:100; background:#FFF; }

/* DIALOG */

.dialog { width:100%; z-index:101; display:none; }
.dialog .dialogPopup { top:125px; height:0; width:100%; overflow:visible; position:absolute; z-index:101; }
.dialogBody p { font-size:1.2em; line-height:16px; margin:0 0 15px; }
.dialogTable td.dialogTableContent .dialogBody { padding:0; }
table.dialogTable { border-collapse:collapse; direction:ltr; margin:auto; table-layout:fixed; width:500px; margin:0 auto; }
td.dialogTableTopLeft, td.dialogTableTopRight, td.dialogTableBorderBotLeft, td.dialogTableBorderBotRight { height:10px; overflow:hidden; padding:0 !important; width:10px !important; }
td.dialogTableTopLeft { background:url(/theme/default/images/dialog/facebook-pop-dialog-sprite.png) no-repeat; }
td.dialogTableTopRight { background:url(/theme/default/images/dialog/facebook-pop-dialog-sprite.png) no-repeat 0 -10px; }
td.dialogTableBorderBotLeft { background:url(/theme/default/images/dialog/facebook-pop-dialog-sprite.png) no-repeat 0 -20px; }
td.dialogTableBorderBotRight { background:url(/theme/default/images/dialog/facebook-pop-dialog-sprite.png) no-repeat 0 -30px; }
td.dialogTableBorderTop, td.dialogTableBorderBottom { background:url(/images/dialog/facebook-pop-dialog-sprite.png) repeat-x 0 -40px; }
td.dialogTableBorderSide { background:url(/theme/default/images/dialog/facebook-pop-dialog-sprite.png) repeat-y -10px 0; }
td.dialogTableContent { background-color:white; direction:ltr; padding:0; }
.dialogContent        { background:url(/theme/default/images/dialog/popup.gif) repeat-x; border:4px solid #d1ded8; padding:26px 43px 36px; position:relative; }
.dialogContent h2     { font-size:150%; margin:0 0 20px; }
.dialogClose          { cursor:pointer; width:18px; height:18px; background:url(/theme/default/images/dialog/btn_popup_close.gif) no-repeat; position:absolute; right:5px; top:5px; text-indent:-9999px; }
.dialogClose:hover    { background-position:0 -20px; }
