
/** RESET CLASSES FROM YUI **/

html{ outline:none;color:#000;background:#FFF; }body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit; }input,button,textarea,select{ font-size:100%; }

/** FONTS **/

html, body { font:90% tahoma, helvetica, sans-serif; height:100%; }

/** DEFAULT CLASSES **/

.textCenter { text-align:center; }
.textRight  { text-align:right; }
.textLeft   { text-align:left; }
.hide       { display:none; }
.skipLink   { position:absolute; left:-999px; width:990px; }
.text_red   { background-color:inherit; color:#ff0000; }
.gap5       { margin-top:5px; }
.gap10      { margin-top:10px; }
.gap10B     { padding-bottom:10px; }
.icon       { border:0; padding-right:5px; vertical-align:sub; cursor:pointer; }
.pointer    { cursor:pointer; }
.strong     { font-weight:bold; }
strong      { font-weight:bold; }
hr { border-top: 1px solid #7f93bc; border-bottom: 0; border-left: 0; border-right: 0; }

/** LINKS **/

a       { color:#1A477E ; text-decoration:none; }
a:hover { color:#D79C2B; }

/** HELPER CLASSES **/

.clear       { clear:both; }
.clearFooter { height:84px; clear:both; }
.floatLeft   { float:left; }
.floatRight  { float:right; }

/** WRAPPER **/

#wrapper { height:auto; min-height:100%; width:100%; margin-bottom:-84px; }

/** HEADER **/

#header { background:url(/theme/admin/images/template/header_bg.png); border-bottom:4px solid #7f93bc; color:#fff; height:20px; padding:5px; }

#header a { color:#F5AE25; }
#header a:hover { color:#fff; }

#header h1,#header .flatRender { margin:0; position:absolute; z-index:10; }
#header h1 { color:#eee; font-weight:bold; font-size:130%; left:25px; top:5px; }

#header .flatRender { bottom: 5px; color: #cccccc; left: 25px; z-index: 1000; }

#header .links { list-style: none; font-size:110%; margin: 0; position: absolute; right: 10px; top: 3px; z-index: 100; }
#header .links li { color: #eeeeee; float: left; }
#header .links li a { color: #eeeeee; }
#header .links li a:hover { color: #D79C2B; }

#header .tabs { bottom: 0; list-style: none; margin: 0; padding: 0 15px 0 0; position: absolute; right: 0px; width: auto; z-index: 100; }
#header .tabs li { background: transparent url(/theme/admin/images/template/header_tab.gif) 100% -600px no-repeat; border-bottom: 1px solid #515358; float: right; margin: 0 1px 0 0; padding: 0 6px 0 0; }
#header .tabs a { background: transparent url(/theme/admin/images/template/header_tab.gif) 0% -600px no-repeat; color: #ffffff; display: block; float: left; font-weight: bold; padding: 4px 4px 4px 10px; text-decoration: none; }
#header .tabs li:hover a { background-position: 0% -400px; }
#header .tabs li:hover { background-position: 100% -400px; }

/** INFO **/

#info { background: transparent url(/theme/admin/images/template/breadcrumbs.png) bottom repeat-x; border-top:2px solid #3b5998; color: #999; height: 20px; padding: 4px 0 35px 25px; }
#info a:link, #info a:visited { color: #0E2861; }
#info a:hover, #info a:active { color: #fff; }
#info .login        { color: #303030;  padding: 10px 5px 0 5px; position: absolute; right: 20px; top: 32px; z-index: 10; }
#info .login .input { color: #000; border-right: 1px solid #3b5998; }
#info .login dt     { float: left; padding-right: 3px; padding-top: 2px; }
#info .login dd     { float: left; padding-right: 5px; }
#info .welcome      { padding-top: 10px; position: absolute; right: 20px; top: 35px; }

/** CONTENT **/

#content { min-height:100%; padding:0 25px; margin-left:175px; }
.login #content { margin-left:0; }

/** NAVIGATION **/

/*#adminNav { clear:left; float:left; list-style:none; margin:0 5px 35px -180px; padding:0; position:relative; width:160px; }
#adminNav * { border-color:#DFDFDF; }
#adminNav .subNav { display:none; }
#adminNav .menuImage { float:left; height:28px; width:28px; }
#adminNav .menuImage a { height:24px; }
#adminNav .iconDashboard div.menuImage { background: url("/images/admin/menu-vs.png") no-repeat scroll -61px -33px transparent; }
#adminNav .iconDashboard:hover div.menuImage, #adminNav .iconDashboard.wp-has-current-submenu div.menuImage, #adminNav .iconDashboard.current div.menuImage { background: url("/images/admin/menu-vs.png") no-repeat scroll -61px -1px transparent; }

#adminNav li { cursor:pointer; margin:0; padding:0; }
#adminNav li.menuTop { min-height:26px; }
#adminNav li.menuOpen a.menuTopLast { border-bottom:0 none; border-bottom-left-radius:0; border-bottom-right-radius:0; }*/

#nav { clear:left; float:left; list-style:none outside none; margin:0 5px 35px -180px; padding:0; position:relative; width:160px; }
#nav .navigation { background: #E0E9E9 url(/theme/admin/images/template/menu_back.gif) right repeat-y; margin-bottom: 1em; }
#nav .navigation:before { background: transparent url(/theme/admin/images/template/menu_tr.gif) no-repeat top right; border-bottom: 1px solid #ddd; content: url(/theme/admin/images/template/key-point_tl.gif); display: block; font-size: 1px; height: 8px; line-height: 0.1; margin: 0; }
#nav .navigation:after { background: transparent url(/theme/admin/images/template/menu_br.gif) scroll no-repeat bottom right; border-top: 1px solid #fff; content: url(/theme/admin/images/template/key-point_bl.gif); display: block; font-size:1px; height: 8px; line-height: 0.1; margin: 0 0 10px 0; padding-top: 0; }
#nav .navigation ul { margin: 0; padding: 0; list-style: none; }
#nav .navigation li { display: inline; padding: 0; margin: 0; }
#nav .navigation ul li a { padding-left:25px; }
#nav .navigation li a { background-color: #EDF2F2; border-bottom: 1px solid #ccc; border-top: 1px solid #eee; border-right: 1px solid #ddd; display: block; padding: 5px 10px; text-decoration: none; }
#nav .navigation li a:hover { background-color: #eee; }

/*
#adminmenu * {
    -moz-user-select: none;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu .menu-top .current {
    background: url("/images/admin/menu-bits-vs.gif") repeat-x scroll left top #3C6B95;
    border-color: #1D507D;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}


a, #adminmenu a, #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
    color: #1C6280;
}
#adminmenu a {
    display: block;
    line-height: 18px;
    padding: 1px 5px 3px;
}
#wphead a, #adminmenu a, #sidemenu a, #taglist a, #catlist a, #show-settings a {
    text-decoration: none;
}
#adminmenu .wp-has-submenu:hover .wp-menu-toggle, #adminmenu .wp-menu-open .wp-menu-toggle {
    background: url("/images/admin/menu-bits-vs.gif") no-repeat scroll left -109px transparent;
}*/

/** MAIN CONTENT **/

#mainContent { float:left; width:100%; padding-bottom:50px; }

/** FORM **/

.zend_form    { width: 100%; margin: 5px auto; padding: 0; overflow: auto; font-size: 80%;}
.zend_form fieldset { border:2px solid #ccc; padding:15px; }
.zend_form dt { padding: 0; clear: both; width: 100px; float: left; text-align: right; margin: 8px 5px 5px 0; }
.zend_form dd { padding: 0; float: left; margin: 5px 2px 5px 0; }
.zend_form p  { padding: 0; margin: 0; }
.zend_form input, .zend_form textarea { border: 1px solid #ddd; background: #fafafa; font: bold 0.95em arial, sans-serif; margin: 1px; padding: 3px; }
.zend_form input:hover, .zend_form input:focus, .zend_form textarea:hover, .zend_form textarea:focus { border-color: #c5c5c5; background: #f6f6f6; }
.zend_form .submit       { float: right; cursor: pointer; background-color: #1a477e; color: #d79c2b; }
.zend_form .submit:hover { background-color: #d79c2b; color: #1a477e; }
.zend_form .required:before {content:'* '}
.zend_form .optional:before {content:'+ '}

/** LOGIN FORM **/

#login { margin:3em auto; width:320px; position:relative;}
#loginForm { background-color:#fff; border:1px solid #E5E5E5; border-radius:5px; box-shadow:0 4px 18px #C8C8C8; margin-left:8px; padding:16px 16px 25px; }
label { color:#777; font-size:115%; }
#loginForm input[type="text"], #loginForm input[type="password"] { background-color:#eee; border:1px solid #ddd; font-size:180%; margin:2px 6px 16px 0; padding:3px; width:97%; }
input { color: #555555; }
form .rememberMe { float:left; font-weight:normal; }
form .rememberMeLabel { font-size:90%; line-height:19px; padding-left:5px; bottom:2px; position:relative; }
form .submit, .alignright { float:right; }
.submit { border-color:#DFDFDF; }
input.button-primary, button.button-primary, a.button-primary { background:url(/theme/admin/images/template/button-grad.png) repeat-x scroll left top #21759B; border-color:#298CBA; color:#FFF; font-weight:bold; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3); float:right; }
.lostPassword { margin:0 0 0 8px; padding:16px; font-size:90%; }
form ul.errors { box-shadow:0 0 20px #C8C8C8; border-radius:5px; background-color:#FBE1E3; border:1px solid #CC0000; margin-bottom:10px; padding:10px; }
form ul.errors li { padding:0; color:#666; padding:5px 0 5px; font-size:90%; }

/** ERROR BOX **/

.errorBox { color:#FFF; font-size:100%; line-height:13px; background:url(/theme/admin/images/template/error_box.gif) no-repeat 100% 100%; padding:0 0 7px; position:absolute; }
.errorBox .errorBoxSleeve { background:url(/theme/admin/images/template/error_box_sleeve.gif) no-repeat 100% 0; width:106px; padding:9px 9px 5px 24px; min-height:26px; }

/** BUTTONS **/

.button-primary { border:1px solid; border-radius:11px 11px 11px 11px; cursor:pointer; font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; margin-top:-3px; padding:3px 10px; text-decoration:none; }

/** BOXES **/

.boxFloatCenter { padding-top: 5px; }
.boxCenter      {  }
.boxFloatLeft   { float: left; width: 50%; clear: left; }
.boxLeft        { margin-top: 5px; }
.boxFloatRight  { float: right; width: 49%; }
.boxRight       { margin-top: 5px; }
.boxContent     { padding: 5px; }
.boxTitle       { background-color: #d8dfea; border-top: 1px solid #3b5998; border-bottom: 1px solid #aaa; color: #3b5998; font-size: 12px; font-weight: bold; padding: 2px; padding-left: 5px; }
.boxCenter, .boxLeft, .boxRight { background-color: #fff; border: 1px solid #ddd; border-bottom: 2px solid #ccc; position: relative; }

/** TABLE **/

table { border-collapse: collapse; }
.tbl { border: 1px solid #333; width: 100%; }
.tbl .tbl_title { background: transparent url(/theme/admin/images/template/header_bg.png) repeat-x; color: #ffffff; font-weight: bold; padding: 3px; }
.tbl th { background: transparent url(/theme/admin/images/template/bg.jpg) repeat-x; border: 1px solid #333; color: #000000; font-weight: bold; padding: 3px; text-align: left; vertical-align: top; }
.tbl .th { background: transparent url(/theme/admin/images/template/bg.jpg) repeat-x; color: #000000; font-weight: bold; height: 22px; padding: 3px; }
.tbl td,.tbl .td { border: 1px solid #333; padding: 3px; }
.tbl .submit { text-align: right; background-color: #E89F0E; }
.tbl .button { background-color: #eeeeee; }
.tbl .message { background: #C7DEF2 url(/theme/admin/images/template/info_16.gif) no-repeat 3px; font-weight: bold; line-height: 20px; padding: 0px 0px 0px 25px; vertical-align: middle; }
.highlight { background: #d5fcdc; }
.even      { background: #fff; }
.mo        { background: #e3f1fb; }
.odd       { background: #eee; }

/** FOOTER **/

#footer         { clear:both; background-color:#7f93bc; border-top:4px solid #3b5998; color:#003078; margin-top:-84px; position:relative; width:100%; }
#footer .footerContent { padding:15px 15px 65px 15px; }
#footer .footerSmall   { font-size:80%; }
#footer p       { line-height:20px; }
#footer a       { color:#fff; }
#footer img     { vertical-align:text-bottom; padding-right:3px; }
#footer a:hover { text-decoration:underline; }
